@use "./assets/styles/fonts.scss" as font;
@use "./assets/styles/colors.scss" as colors;
html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  background: colors.$background;
  font-size: 1rem;
  letter-spacing: 0.04375em;
}

main {
  color: colors.$black;
  font-family: font.$raleway;
  text-align: center;
}

h1 {
  font-family: font.$raleway;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1125em;
  text-transform: capitalize;
}

h2 {
  font-family: font.$raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.075em;
  text-transform: capitalize;
}

.serif {
  font-family: font.$merriweather;
}

.logo {
  height: 20em;
}

.title-bar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: colors.$primary;
  color: white;
  box-shadow: .1em .2em .4em .2em #222;
  z-index: 2;
  padding: 8px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;

  button {
    background-color: colors.$primary;
    border: none;
    border-radius: .5em;
    color: colors.$white;
    aspect-ratio: 1/1;
    height: 3rem;
  }

  button:hover {
    background-color: colors.$dark-gray;
  }
}

.side-nav {
  position: absolute;
  top: 3rem;
  left: 0;
  height: 100%;
  width: 4em;
  background-color: colors.$dark-gray;
  z-index: 1;
  padding-top: 2rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


    button {
      display: flex;
      line-height: 1.5;
      text-decoration: none;
      color: colors.$white;
      text-transform: capitalize;
      width: 100%;
      text-align: left;
      background-color: colors.$dark-gray;
      border: none;
      align-items: center;
      font-weight: 400;
      span {
        padding-right: 2rem;
      }
    }
  }
}

button {
  cursor: pointer;
}

.side-nav, .open {
  width: 15.625em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}
